*.egg*
*.mo
*.pyc
*~
.*.swp
.*sw?
.coverage
.stestr
.tox
AUTHORS
build/*
ChangeLog
cover/*
dist/*
doc/build
etc/aodh/aodh.conf
etc/aodh/*.sample
subunit.log

# Files created by releasenotes build
releasenotes/build
/doc/source/contributor/api/
doc/source/_static/aodh.policy.yaml.sample
doc/source/_static/aodh.conf.sample

.vscode/
