Listen %PORT%

<VirtualHost *:%PORT%>
    WSGIDaemonProcess aodh-api processes=%APIWORKERS% threads=10 user=%USER% display-name=%{GROUP} %VIRTUALENV%
    WSGIProcessGroup aodh-api
    WSGIScriptAlias / %WSGIAPP%
    WSGIApplicationGroup %{GLOBAL}
    <IfVersion >= 2.4>
        ErrorLogFormat "%{cu}t %M"
    </IfVersion>
    ErrorLog /var/log/%APACHE_NAME%/aodh.log
    CustomLog /var/log/%APACHE_NAME%/aodh_access.log combined
</VirtualHost>

WSGISocketPrefix /var/run/%APACHE_NAME%
